## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,61.81,87,1,8.59,clear sky
1,1,Saint-Leu,RE,-21.1500,55.2833,74.26,79,99,2.26,light rain
2,2,Cape Town,ZA,-33.9258,18.4232,64.90,81,0,13.80,clear sky
3,3,Grindavik,IS,63.8424,-22.4338,40.95,100,75,16.11,broken clouds
4,4,Gold Coast,AU,-28.0000,153.4333,71.01,90,75,6.91,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Yuli,NG,9.6989,10.2744,89.01,19,100,5.68,overcast clouds
10,10,Keti Bandar,PK,24.1447,67.4497,78.19,68,29,9.86,scattered clouds
11,11,Atuona,PF,-9.8000,-139.0333,79.95,72,83,21.14,broken clouds
14,14,Buchanan,LR,5.8808,-10.0467,79.50,85,86,8.43,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,78.78,76,81,10.00,broken clouds
21,21,Labuhan,ID,-6.8844,112.2051,75.49,90,100,9.31,overcast clouds
22,22,Jacksonville,US,30.3322,-81.6556,81.10,40,0,12.66,clear sky
28,28,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,74,40,12.66,scattered clouds
31,31,Cururupu,BR,-1.8283,-44.8683,81.16,77,75,5.39,broken clouds
32,32,Bambous Virieux,MU,-20.3428,57.7575,80.22,83,75,11.50,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                210
City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Yuli,NG,9.6989,10.2744,89.01,19,100,5.68,overcast clouds
10,10,Keti Bandar,PK,24.1447,67.4497,78.19,68,29,9.86,scattered clouds
11,11,Atuona,PF,-9.8000,-139.0333,79.95,72,83,21.14,broken clouds
14,14,Buchanan,LR,5.8808,-10.0467,79.50,85,86,8.43,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,78.78,76,81,10.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
675,675,Riyadh,SA,24.6877,46.7219,77.14,12,89,7.92,overcast clouds
676,676,Port-Gentil,GA,-0.7193,8.7815,81.12,80,30,7.40,scattered clouds
677,677,Spring Hill,US,28.4769,-82.5255,80.64,45,0,6.91,clear sky
678,678,Zinder,NE,13.8072,8.9881,82.98,5,25,6.22,scattered clouds
680,680,Pouembout,NC,-21.1333,164.9000,78.75,90,100,4.81,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Yuli,NG,89.01,overcast clouds,9.6989,10.2744,
10,Keti Bandar,PK,78.19,scattered clouds,24.1447,67.4497,
11,Atuona,PF,79.95,broken clouds,-9.8000,-139.0333,
14,Buchanan,LR,79.50,overcast clouds,5.8808,-10.0467,
16,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,
21,Labuhan,ID,75.49,overcast clouds,-6.8844,112.2051,
22,Jacksonville,US,81.10,clear sky,30.3322,-81.6556,
28,Arraial Do Cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,
31,Cururupu,BR,81.16,broken clouds,-1.8283,-44.8683,
32,Bambous Virieux,MU,80.22,broken clouds,-20.3428,57.7575,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.count()

City                   210
Country                210
Max Temp               210
Current Description    210
Lat                    210
Lng                    210
Hotel Name             210
dtype: int64

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Yuli,NG,89.01,overcast clouds,9.6989,10.2744,
10,Keti Bandar,PK,78.19,scattered clouds,24.1447,67.4497,Haji laloo memon house
11,Atuona,PF,79.95,broken clouds,-9.8000,-139.0333,Villa Enata
14,Buchanan,LR,79.50,overcast clouds,5.8808,-10.0467,Kamaneahn Hotel Inc
16,Kapaa,US,78.78,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [34]:
clean_hotel_df.count()

City                   210
Country                210
Max Temp               210
Current Description    210
Lat                    210
Lng                    210
Hotel Name             210
dtype: int64

In [35]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
!jupyter nbextension list

Known nbextensions:

      - Validating: ok
      - Validating: ok
      - Validating: ok

  config dir: C:\Users\Heiliat\.jupyter\nbconfig
    notebook section
      jupyter-gmaps/extension enabled
  config dir: C:\Users\Heiliat\Anaconda3\envs\PythonData\etc\jupyter\nbconfig
    notebook section
      jupyter-js-widgets/extension enabled
      jupyter-gmaps/extension enabled

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))